.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

textarea {
  border: none;
  outline: none;
  background-color: #0c9e5a;
  width: 500px;
  height: 300px;
  padding: 10px;
  font-size: 20px;
  resize: none;
  font-family: "Press Start 2P";
}

textarea:focus {
  background: linear-gradient(-45deg, #23a6d5, #0c9e5a, #23a6d5, #0c9e5a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 1.54rem;
}

button {
  font-family: "Press Start 2P";
  border: none;
  outline: none;
  background-color: #0c9e5a;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
.red {
  color: #a83232;
}
